---
import "@styles/base.css";
import { SITE } from "@config";
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

// const posts = await Astro.glob("./*.md");
import { getCollection } from "astro:content";
const posts = await getCollection("stuff", ({ data }) => {
    return data.draft !== true;
});

// convert date from string to date objects
posts.forEach((p) => {
    p.data.date = new Date(p.data.date);
    p.data.activeNav = "posts";
});
posts.sort((a, b) => (b.data.date as any) - (a.data.date as any));
---

<!-- 
    This file is used to generate the index page for the posts section
-->
<BaseLayout title={`Stuff | ${SITE.title}`}>
    <Header activeNav="stuff" />
    <Breadcrumbs />
    <main>
        <section id="contact" class="mx-auto max-w-3xl px-4">
            <h1 class="page-title">Stuff</h1>

            <p>Here are some of my nerdy stuff</p>
            <ul>
                {
                    posts.map((post) => (
                        <Card
                            title={post.data.title}
                            date={post.data.date}
                            url={`/stuff/${post.slug}` || "#"}
                        />
                    ))
                }
            </ul>
        </section>
    </main>
</BaseLayout>
