---
import "@styles/base.css";
import { SITE } from "@config";
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts = await Astro.glob("./*.md");

// convert date from string to date objects
posts.forEach((p) => {
    p.frontmatter.date = new Date(p.frontmatter.date);
    p.frontmatter.activeNav = "stuff"; // workaroung for ensuring the avtivenav when posts from this section are loaded
    // even if the activenav is not set in the frontmatter
});
posts.sort((a, b) => b.frontmatter.date - a.frontmatter.date);
---

<!-- 
    This file is used to generate the index page for the stuff section
 -->
<BaseLayout title={`Interesting Stuff | ${SITE.title}`}>
    <Header activeNav="stuff" />
    <Breadcrumbs />
    <main>
        <section id="contact" class="mx-auto max-w-3xl px-4">
            <h1 class="page-title">Interesting Stuff</h1>

            <p>
                Here you will find some of the nerdy stuff that I find
                interesting
            </p>
            <ul>
                {
                    posts
                        .filter((p) => p.frontmatter.draft !== true)
                        .map((p) => (
                            <Card
                                title={p.frontmatter.title}
                                date={p.frontmatter.date}
                                url={p.url || "#"}
                            />
                        ))
                }
            </ul>
        </section>
    </main>
</BaseLayout>
