---
import { SITE } from "@config";
import Header from "@components/Header.astro";
import TextLink from "@components/TextLink.astro";
import "@styles/base.css";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<!-- Complicated stuff ===
What is happening is that if there is not enough content in the div, it will "collapse"
Meaning we have to fill it with some responsive padding-->
<BaseLayout title={`404 Not Found | ${SITE.title}`}>
    <Header />

    <main id="main-content">
        <section>
            <div class="not-found-wrapper">
                <h1 aria-label="404 Not Found">404</h1>
                <span aria-hidden="true">¯\_(ツ)_/¯</span>
                <p class="px-[62.5px] sm:px-[200px] md:px-[408px]">
                    Page Not Found
                </p>
                <TextLink href="/">Go back home</TextLink>
            </div>
        </section>
    </main>
</BaseLayout>

<style>
    #main-content {
        @apply mx-auto flex items-center justify-center;
    }
    .not-found-wrapper {
        @apply mb-14 flex flex-col items-center justify-center;
    }
    .not-found-wrapper h1 {
        @apply text-9xl font-bold text-ctp-peach;
    }
    .not-found-wrapper p {
        @apply mt-4 text-center text-xl sm:text-3xl;
    }
</style>
