---
const { githubURL } = Astro.props;
---

<div class="github-div">
    <a href={githubURL} title={githubURL} class="not-prose">  &nbsp;Github</a>
</div>

<style>
    .github-div {
        @apply w-fit rounded-3xl border border-transparent bg-ctp-surface1 px-3 text-ctp-lavender transition duration-100 hover:bg-ctp-surface0 hover:text-dark-sapphire;
    }
</style>
