<aside>
    <form class="form">
        <div>
            <label for="search">Search</label>
            <span class="row-span-1">Enter a search term or phrase</span>
        </div>
        <input type="search" name="search" id="search" placeholder="Enter " />
    </form>
</aside>

<style>
    .form {
        @apply grid max-w-sm gap-1 rounded-md border-2 border-ctp-rosewater p-2;
    }

    .form label {
        @apply text-lg font-bold;
    }

    input {
        @apply font-sans text-ctp-base;
    }
</style>

<script>
    import DOMPurify from "dompurify";
    const form = document.querySelector("form");
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const searchTerm = DOMPurify.sanitize(
            formData.get("search")?.toString(),
        );
        if (!searchTerm || searchTerm.length === 0) return;
        const url = new URL("/search", window.location.origin);
        url.searchParams.set("q", searchTerm);
        window.location.assign(url.toString());
    });
</script>
