/* 
$$$$$$\  $$\      $$\        $$$$$$\                      $$\  $$$$$$\  
$$  __$$\ $$$\    $$$ |      $$  __$$\                     \__|$$  __$$\ 
$$ /  \__|$$$$\  $$$$ |      $$ /  \__| $$$$$$\   $$$$$$\  $$\ $$ /  \__|
$$ |      $$\$$\$$ $$ |      \$$$$$$\  $$  __$$\ $$  __$$\ $$ |$$$$\     
$$ |      $$ \$$$  $$ |       \____$$\ $$$$$$$$ |$$ |  \__|$$ |$$  _|    
$$ |  $$\ $$ |\$  /$$ |      $$\   $$ |$$   ____|$$ |      $$ |$$ |      
\$$$$$$  |$$ | \_/ $$ |      \$$$$$$  |\$$$$$$$\ $$ |      $$ |$$ |      
 \______/ \__|     \__|       \______/  \_______|\__|      \__|\__|      
*/

@font-face {
    font-family: "ComputerModernRoman";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-serif.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRomanItalic";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-serif-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRoman";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-serif-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRoman";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-serif-bolditalic.ttf") format("truetype");
}

/* 
$$$$$$\  $$\      $$\        $$$$$$\                                       $$$$$$\                      $$\  $$$$$$\  
$$  __$$\ $$$\    $$$ |      $$  __$$\                                     $$  __$$\                     \__|$$  __$$\ 
$$ /  \__|$$$$\  $$$$ |      $$ /  \__| $$$$$$\  $$$$$$$\   $$$$$$$\       $$ /  \__| $$$$$$\   $$$$$$\  $$\ $$ /  \__|
$$ |      $$\$$\$$ $$ |      \$$$$$$\   \____$$\ $$  __$$\ $$  _____|      \$$$$$$\  $$  __$$\ $$  __$$\ $$ |$$$$\     
$$ |      $$ \$$$  $$ |       \____$$\  $$$$$$$ |$$ |  $$ |\$$$$$$\         \____$$\ $$$$$$$$ |$$ |  \__|$$ |$$  _|    
$$ |  $$\ $$ |\$  /$$ |      $$\   $$ |$$  __$$ |$$ |  $$ | \____$$\       $$\   $$ |$$   ____|$$ |      $$ |$$ |      
\$$$$$$  |$$ | \_/ $$ |      \$$$$$$  |\$$$$$$$ |$$ |  $$ |$$$$$$$  |      \$$$$$$  |\$$$$$$$\ $$ |      $$ |$$ |      
 \______/ \__|     \__|       \______/  \_______|\__|  \__|\_______/        \______/  \_______|\__|      \__|\__|       */

@font-face {
    font-family: "ComputerModernSans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-sf.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-sf-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-sf-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-sf-bolditalic.ttf") format("truetype");
}

/* 
 $$$$$$\  $$\      $$\       $$$$$$$$\ $$$$$$$$\ 
$$  __$$\ $$$\    $$$ |      \__$$  __|\__$$  __|
$$ /  \__|$$$$\  $$$$ |         $$ |      $$ |   
$$ |      $$\$$\$$ $$ |         $$ |      $$ |   
$$ |      $$ \$$$  $$ |         $$ |      $$ |   
$$ |  $$\ $$ |\$  /$$ |         $$ |      $$ |   
\$$$$$$  |$$ | \_/ $$ |         $$ |      $$ |   
 \______/ \__|     \__|         \__|      \__|   
 */

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-tt.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-tt-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-tt-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-tt-bolditalic.ttf") format("truetype");
}
/* 
$$\      $$\            $$\     $$\              $$$$$$\            $$\ 
$$$\    $$$ |           $$ |    $$ |            $$  __$$\           $$ |
$$$$\  $$$$ | $$$$$$\ $$$$$$\   $$$$$$$\        $$ /  \__| $$$$$$\  $$ |
$$\$$\$$ $$ | \____$$\\_$$  _|  $$  __$$\       $$ |       \____$$\ $$ |
$$ \$$$  $$ | $$$$$$$ | $$ |    $$ |  $$ |      $$ |       $$$$$$$ |$$ |
$$ |\$  /$$ |$$  __$$ | $$ |$$\ $$ |  $$ |      $$ |  $$\ $$  __$$ |$$ |
$$ | \_/ $$ |\$$$$$$$ | \$$$$  |$$ |  $$ |      \$$$$$$  |\$$$$$$$ |$$ |
\__|     \__| \_______|  \____/ \__|  \__|       \______/  \_______|\__| */

@font-face {
    font-family: "MathCal";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/MathCal-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "MathCal";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/MathCal-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "MathCal";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/MathCal-Bold.ttf") format("truetype")
}

/* 
$$\      $$\            $$\     $$\             $$$$$$$$\                 $$\       
$$$\    $$$ |           $$ |    $$ |            $$  _____|                $$ |      
$$$$\  $$$$ | $$$$$$\ $$$$$$\   $$$$$$$\        $$ |    $$$$$$\  $$$$$$\  $$ |  $$\ 
$$\$$\$$ $$ | \____$$\\_$$  _|  $$  __$$\       $$$$$\ $$  __$$\ \____$$\ $$ | $$  |
$$ \$$$  $$ | $$$$$$$ | $$ |    $$ |  $$ |      $$  __|$$ |  \__|$$$$$$$ |$$$$$$  / 
$$ |\$  /$$ |$$  __$$ | $$ |$$\ $$ |  $$ |      $$ |   $$ |     $$  __$$ |$$  _$$<  
$$ | \_/ $$ |\$$$$$$$ | \$$$$  |$$ |  $$ |      $$ |   $$ |     \$$$$$$$ |$$ | \$$\ 
\__|     \__| \_______|  \____/ \__|  \__|      \__|   \__|      \_______|\__|  \__| */

@font-face {
    font-family: "MathFrak";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/MathFrak-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "MathFrak";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/MathFrak-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "MathFrak";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/MathFrak-Bold.ttf") format("truetype")
}

/* 
/$$$$$$   /$$               /$$                    
/$$__  $$ | $$              | $$                    
| $$  \__//$$$$$$   /$$   /$$| $$  /$$$$$$   /$$$$$$$
|  $$$$$$|_  $$_/  | $$  | $$| $$ /$$__  $$ /$$_____/
\____  $$ | $$    | $$  | $$| $$| $$$$$$$$|  $$$$$$ 
/$$  \ $$ | $$ /$$| $$  | $$| $$| $$_____/ \____  $$
|  $$$$$$/ |  $$$$/|  $$$$$$$| $$|  $$$$$$$ /$$$$$$$/
\______/   \___/   \____  $$|__/ \_______/|_______/ 
                   /$$  | $$                        
                  |  $$$$$$/                        
                   \______/                          */


.katex {
    text-rendering: auto;
    font-size: 1em;
    font-family: "ComputerModernRoman";
}

.katex .textrm{
    font-family: "ComputerModernRoman"
}
.katex .textsf{
    font-family: "ComputerModernSans"
}
.katex .texttt{
    font-family: "ComputerModernTypewriter"
}
.katex .mathnormal{
    font-family: "ComputerModernRomanItalic";
}
.katex .mathit{
    font-family: "ComputerModernRoman";
    font-style: italic
}
.katex .mathrm{
    font-family: "ComputerModernRoman";
    font-style: normal
}
.katex .mathbf{
    font-family: "ComputerModernRoman";
    font-weight: 700
}
.katex .boldsymbol{
    font-family: "ComputerModernRoman";
    font-style: italic;
    font-weight: 700
}
.katex .amsrm,.katex .mathbb,.katex .textbb{
    font-family: "ComputerModernRoman"
}
.katex .mathcal{
    font-family: "MathCal"
}
.katex .mathfrak,.katex .textfrak{
    font-family: "MathFrak"
}
.katex .mathboldfrak,.katex .textboldfrak{
    font-family: "MathFrak";
    font-weight: 700
}
.katex .mathtt{
    font-family: "ComputerModernTypewriter"
}
.katex .mathscr,.katex .textscr{
    font-family: KaTeX_Script
}
.katex .mathsf,.katex .textsf{
    font-family: "ComputerModernSans";
}
.katex .mathboldsf,.katex .textboldsf{
    font-family: "ComputerModernSans";
    font-weight: 700
}
.katex .mathitsf,.katex .textitsf{
    font-family: "ComputerModernSans";
    font-style: italic
}
.katex .mainrm{
    font-family: "ComputerModernRoman";
    font-style: normal
}