/* 
$$$$$$\  $$\      $$\        $$$$$$\                      $$\  $$$$$$\  
$$  __$$\ $$$\    $$$ |      $$  __$$\                     \__|$$  __$$\ 
$$ /  \__|$$$$\  $$$$ |      $$ /  \__| $$$$$$\   $$$$$$\  $$\ $$ /  \__|
$$ |      $$\$$\$$ $$ |      \$$$$$$\  $$  __$$\ $$  __$$\ $$ |$$$$\     
$$ |      $$ \$$$  $$ |       \____$$\ $$$$$$$$ |$$ |  \__|$$ |$$  _|    
$$ |  $$\ $$ |\$  /$$ |      $$\   $$ |$$   ____|$$ |      $$ |$$ |      
\$$$$$$  |$$ | \_/ $$ |      \$$$$$$  |\$$$$$$$\ $$ |      $$ |$$ |      
 \______/ \__|     \__|       \______/  \_______|\__|      \__|\__|      
*/

@font-face {
    font-family: "ComputerModernRoman";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-serif.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRomanItalic";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-serif-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRoman";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-serif-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernRoman";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-serif-bolditalic.ttf") format("truetype");
}

/* 
$$$$$$\  $$\      $$\        $$$$$$\                                       $$$$$$\                      $$\  $$$$$$\  
$$  __$$\ $$$\    $$$ |      $$  __$$\                                     $$  __$$\                     \__|$$  __$$\ 
$$ /  \__|$$$$\  $$$$ |      $$ /  \__| $$$$$$\  $$$$$$$\   $$$$$$$\       $$ /  \__| $$$$$$\   $$$$$$\  $$\ $$ /  \__|
$$ |      $$\$$\$$ $$ |      \$$$$$$\   \____$$\ $$  __$$\ $$  _____|      \$$$$$$\  $$  __$$\ $$  __$$\ $$ |$$$$\     
$$ |      $$ \$$$  $$ |       \____$$\  $$$$$$$ |$$ |  $$ |\$$$$$$\         \____$$\ $$$$$$$$ |$$ |  \__|$$ |$$  _|    
$$ |  $$\ $$ |\$  /$$ |      $$\   $$ |$$  __$$ |$$ |  $$ | \____$$\       $$\   $$ |$$   ____|$$ |      $$ |$$ |      
\$$$$$$  |$$ | \_/ $$ |      \$$$$$$  |\$$$$$$$ |$$ |  $$ |$$$$$$$  |      \$$$$$$  |\$$$$$$$\ $$ |      $$ |$$ |      
 \______/ \__|     \__|       \______/  \_______|\__|  \__|\_______/        \______/  \_______|\__|      \__|\__|       */

@font-face {
    font-family: "ComputerModernSans";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-sf.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-sf-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-sf-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernSans";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-sf-bolditalic.ttf") format("truetype");
}

/* 
 $$$$$$\  $$\      $$\       $$$$$$$$\ $$$$$$$$\ 
$$  __$$\ $$$\    $$$ |      \__$$  __|\__$$  __|
$$ /  \__|$$$$\  $$$$ |         $$ |      $$ |   
$$ |      $$\$$\$$ $$ |         $$ |      $$ |   
$$ |      $$ \$$$  $$ |         $$ |      $$ |   
$$ |  $$\ $$ |\$  /$$ |         $$ |      $$ |   
\$$$$$$  |$$ | \_/ $$ |         $$ |      $$ |   
 \______/ \__|     \__|         \__|      \__|   
 */

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/cm/cm-tt.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/cm/cm-tt-italic.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/cm/cm-tt-bold.ttf") format("truetype");
}

@font-face {
    font-family: "ComputerModernTypewriter";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/cm/cm-tt-bolditalic.ttf") format("truetype");
}

/* 
/$$    /$$ /$$             /$$                         /$$      /$$                              
| $$   | $$|__/            | $$                        | $$$    /$$$                              
| $$   | $$ /$$  /$$$$$$$ /$$$$$$    /$$$$$$   /$$$$$$ | $$$$  /$$$$  /$$$$$$  /$$$$$$$   /$$$$$$ 
|  $$ / $$/| $$ /$$_____/|_  $$_/   /$$__  $$ /$$__  $$| $$ $$/$$ $$ /$$__  $$| $$__  $$ /$$__  $$
 \  $$ $$/ | $$| $$        | $$    | $$  \ $$| $$  \__/| $$  $$$| $$| $$  \ $$| $$  \ $$| $$  \ $$
  \  $$$/  | $$| $$        | $$ /$$| $$  | $$| $$      | $$\  $ | $$| $$  | $$| $$  | $$| $$  | $$
   \  $/   | $$|  $$$$$$$  |  $$$$/|  $$$$$$/| $$      | $$ \/  | $$|  $$$$$$/| $$  | $$|  $$$$$$/
    \_/    |__/ \_______/   \___/   \______/ |__/      |__/     |__/ \______/ |__/  |__/ \______/  */

    @font-face {
        font-family: 'VictorMonoNerdFont';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFont-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VictorMonoNerdFont';
        font-style: italic;
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFont-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VictorMonoNerdFont';
        font-style: normal;
        font-weight: bold;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFont-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VictorMonoNerdFontMono';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFontMono-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VictorMonoNerdFontMono';
        font-style: italic;
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFontMono-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'VictorMonoNerdFontMono';
        font-style: normal;
        font-weight: bold;
        font-display: swap;
        src: url('/fonts/VictorMonoNerdFontMono-Bold.ttf') format('truetype');
    }